@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: AgrandirRegular;
  src: url("../fonts/Agrandir-Regular.woff");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 28.8px;
}

body {
  background-color: #f4f7fa !important;
  color: #222222;
}

.home .title {
  font-family: AgrandirRegular;
  font-size: 70px;
  text-align: center;
  margin: 80px 0;
}
.home .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 75%;
  margin: auto;
  gap: 5rem;
}
.home .grid .examples {
  border-right: 1px solid black;
}
.home .grid .form-and-results textarea {
  display: block;
  width: 100%;
  margin: 30px 0;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #d7dbe0;
  padding: 10px;
  resize: none;
}
.home .grid .form-and-results textarea:focus {
  outline: 1px solid #222222;
}
.home .grid .form-and-results > a {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #222222;
  color: #fcfeff;
  padding: 15px 0px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 30px;
}
.home .grid .form-and-results .complex {
  background-color: #fcfeff;
  padding: 20px;
  border-radius: 5px;
}
.home .grid .form-and-results .complex p {
  margin-bottom: 15px;
}